/* Global Font Setup */
body {
    font-family: 'Montserrat'; /* Only Montserrat font */
    background-color: #deba76; /* Background Color */
    color: #8b6733; /* General Text Color */
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
#header {
    margin-bottom: 30px;
    font-size: 20px;    
}

#header-text {
    transition: opacity 1s ease;
    color: #76b5c5;
}

.logo {
    width: 200px;
    height: auto;
}

/* Heading */
h1 {
    font-size: 26px;
    color: #8b6733;
    font-weight: bold; /* Bold for headings */
}

/* Button Styling */
button {
    background-color: #d4ae64;
    border: 2px solid #5032b9;
    border-radius: 12px;  /* Makes the corners rounded */
    padding: 12px 12px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #8b6733; /* Text color for buttons */
    font-weight: normal; /* Normal weight for button text */
    white-space: normal;  /* allows text to break into multiple lines if needed */
    text-align: center;
}

button:hover {
    background-color: #5032b9;
    color: #fff;
}

button:active {
    transform: scale(0.95); /* Button pushback effect */
}

/* Game Container */
#game-container {
    margin-top: 30px;
}

/* Question Text */
#question-container {
    font-size: 22px;
    color: #7e5329; /* Text color for questions */
    margin-bottom: 20px;
    border-radius: 12px;  /* Round corners for answer options */
    font-weight: bold; /* Bold for questions */
}

/* Feedback Text */
#feedback-container {
    font-size: 18px;
    color: #efc876;
    font-weight: normal; /* Normal weight for feedback */
}

/* Tip Text Styling */
#tip-container {
    font-size: 16px;
    color: #427642;  /* Text Color */
    font-style: italic;  /* Make it slightly different */
    margin-top: 20px;
    background-color: #dbf3db;  /* Green Light Background */
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #427642; /* Green border */
    text-align: center;
    font-weight: normal; /* Normal weight for tips */
}

/* End Game Section */
#end-game p {
    font-size: 22px;
    font-weight: bold; /* Bold for end game message */
}

/* Consent Page */
#consent-page {
    margin-top: 30px;
}

/* Badge Section */
#badge-section {
    text-align: center;
    margin-top: 20px;
}

#badge {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
